parameters:

    paths:
        - src/

    level: 9

    ignoreErrors:
        - identifier: trait.unused

    excludePaths:
        - src/Support/PropertyInfo.php
        - src/Support/MethodInfo.php
